[submodule "gitmodules/cmocka"]
	path = gitmodules/cmocka
	url = git://git.cryptomilk.org/projects/cmocka.git
[submodule "gitmodules/relacy"]
	path = gitmodules/relacy
	url = https://github.com/dvyukov/relacy.git
